<!-------------------上段------------------->

<%= link_to "#", class: 'list-group-item list-group-item-action' do %>
  <div class="booking-list-top">

    <%# 都道府県 %>
    投稿者さんのチャット(仮)

    <%# 投稿日時 %>
    <div><span class="badge bg-info rounded-pill">
      35分前(仮)
    </span></div>

  </div>
  
<!-------------------下段------------------->

  <div class="booking-list-bottom">

    <%# 最新のチャット %>
    <div>
    会場に駐車場はありますか？(仮)
    </div>

  </div>
<% end %>