<!-- Modal（ログイン案内） -->
<div class="modal fade" id="myBookingModal" tabindex="-1" aria-labelledby="myBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myBookingModalLabel">投稿履歴</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @my_bookings.present? %>
          <%= render partial: 'shared/booking', collection: @my_bookings %>
        <% else %>
          投稿履歴はありません
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">もどる</button>
      </div>
    </div>
  </div>
</div>
