<!-- Modal（プロフィール詳細） -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel"><%= current_user.nickname %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <div class="profile-image-box">
          <%= image_tag 'AMENEKO8474_TP_V.jpg', class: "profile-image"%>
        </div>

        <div class="profile-detail">
          <p>登録日：2022/3/8</p>
          <p>年齢：22歳</p>
          <p>性別：男性</p>
          <p>地域：石川</p>
          <p>パート：ボーカル</p>
          <p>ジャンル：ビジュアル系</p>
          <p>自己紹介/メッセージ　▼</p>
          <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">編集する</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">もどる</button>
        </div>
      </div>
    </div>
  </div>
</div>