.control-label.text {
	color: white;
	opacity: 0.5;
}

.title-text {
	position: absolute;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: calc(20px + 5vw);
	color: #fff;
	letter-spacing: 0.02em;
	text-shadow: 0 0 0.15em #1da9cc;
	filter: blur(0.007em);
}
