.form-box {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
  border-radius: 7px;
	position: relative;
}

.field {
	color: aliceblue;
	margin-bottom: 40px;
}

.row-size {
	height: 86vh;
}

#error_explanation {
	color: #ff6347;
	margin-top: 10%;
}

.login-flash-message {
	color: #ff6347;
	margin-top: 10%;
}

.field_with_errors {
  display: contents;
}

.info_text {
	color: aliceblue;
	opacity: 0.5;
}